<div class="row top15 row-centered">
    <div class="col-sm-11 col-centered">
        <div class="row input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-globe">
                            </span>
                        </span>
            <input type="text" class="form-control"
                   autocomplete
                   source="AvailableCoverageIds"
                   ng-model="IdOfCoverageToDelete"
                   placeholder="Input coverage ID or part of it"/>

                        <span class="input-group-btn">
                            <button class="btn btn-info" ng-disabled="!IsCoverageIdValid"
                                    ng-click="deleteCoverage()"
                                    class="btn btn-default"
                                    type="button">
                                Delete Coverage
                            </button>

                            <img ng-show="RequestInProgress" src="assets/img/loading.gif"
                                 class="loading-image"/>
                        </span>
        </div>
    </div>
</div>