      <gmlrgrid:generalGridAxis>
        <gmlrgrid:GeneralGridAxis>
          <gmlrgrid:offsetVector {srsGroup}>{offsets}</gmlrgrid:offsetVector>
          <gmlrgrid:coefficients>{coefficients}</gmlrgrid:coefficients>
          <gmlrgrid:gridAxesSpanned>{gridAxisSpanned}</gmlrgrid:gridAxesSpanned>
          <gmlrgrid:sequenceRule axisOrder="+1">Linear</gmlrgrid:sequenceRule>
        </gmlrgrid:GeneralGridAxis>
      </gmlrgrid:generalGridAxis>