      <generalGridAxis>
        <GeneralGridAxis>
          {offsetVector}{coefficients}
          <gridAxesSpanned>{gridAxisSpanned}</gridAxesSpanned>
          <sequenceRule axisOrder="+1">Linear</sequenceRule>
        </GeneralGridAxis>
      </generalGridAxis>