    <Grid dimension="{gridDimension}" gml:id="{gridId}">
      <limits>
        <GridEnvelope>
          <low>{low}</low>
          <high>{high}</high>
        </GridEnvelope>
      </limits>
      <axisLabels>{axisLabels}</axisLabels>
    </Grid>