      <origin>
          <Point gml:id="{pointId}" srsName="{srsName}" axisLabels="{axisLabels}" uomLabels="{uomLabels}" srsDimension="{gridDimension}">
              <pos>{originPos}</pos>
          </Point>
      </origin>