<div class="row">
    <div class="col-sm-12 col-centered">
        <div class="row">
            <div class="col-sm-12">
                Set the optional value for clip parameter to be applied on current GetCoverage request (<a href="http://rasdaman.org/wiki/PetascopeClipping">example</a>).
            </div>
        </div>
        <div class="row top5">
            <div class="col-sm-12">
                <textarea rows="10" id="wcs-get-coverage-clipping" style="width: 100%;" ng-model="model.wcsGetCoverageClipping">
                </textarea>
            </div>
        </div>
    </div>
</div>