<div class="row top15 row-centered" style="padding-bottom: 10px;">
    <style>
        #queryInput .CodeMirror {
            height: 250px;
            border: 1px solid #bbb;
            border-radius: 3px;
            background: #fff;
        }

        #output {
            /*bottom: 0;*/
            /*top: 0;*/
            height: 550px;
            max-height: 550px;
            overflow-y: scroll;
            overflow-wrap: break-word;
            background: #fff;
            /*border-radius: 10px;*/
            padding-left: 2vw;
            padding-right: 2vw;
        }
    </style>
    <div class="col-sm-11 col-centered">
        <div class="row">
            <div id="output" class="col-sm-12" scroll-glue>
                <div class="row">
                    <span class="label label-info">you@wcps>Status</span> Welcome to the interactive WCPS (<a href ="http://tutorial.rasdaman.org/rasdaman-and-ogc-ws-tutorial/#ogc-web-services-web-coverage-processing-service"> WCPS tutorial </a>) console. Type your WCPS query in the textbox below and click on  <span class="label label-primary">Execute</span> button
to run it.<br/> 
                    <ul>
                        <li>The console can only display 2D image result encoding in png, jpeg with widget: <span class="label label-warning">image>>your WCPS query.</span></li>
                        <li>Text result encoding in csv, json, gml will display directly without widget.</li>
                        <li>1D text result encoding in csv, json can be displayed as a diagram with widget: <span class="label label-warning">diagram>>your WCPS query.</span> By default it is a line chart, you can change to bar chart by adding parameter, e.g: <span class="label label-warning">diagram(type=multiBarChart)>>your WCPS query.</span></li>
                        <li>Other cases will download as files (e.g: 2D tiff, 3D netCDF, 2D png without widget,...).</li>
                        <li>In order for the example queries to work, please import the demo datasets
                            (AvgTemperature, AverageChlorophyll, mean_summer_airtemp). You can do that by
                            running petascope_insertdemo.sh in rasdaman's bin directory.</li>
                    </ul>
                </div>                
		<br/>

                <div class="row" ng-repeat="datum in editorData">
                    <!-- NOTE: this div is the container of a WCPS result -->
                    <div class="col-sm-12" ng-switch="getEditorDataType(datum)" id="resultRow_{{$index}}">
                        <!-- Query is running, not finish yet -->
                        <div class="row" ng-switch-when="0">
                            <p>
                                <span class="label label-info">you@wcps>:</span>
                                {{$index}}. Executing WCPS query. <span class="label label-warning">{{datum.secondsPassed}} seconds</span>
                                passed. {{datum.finished && " Done."|| " Please wait..."}}
                                <br/>
                                <div style="max-height: 200px; overflow: auto;">
                                   <pre> {{datum.query}} </pre>
                                </div>  
                                <br/>                                
                            </p>
                        </div>
                        <!-- Query finished, text result (csv, json, gml) is displayed  -->
                        <div class="row" ng-switch-when="1">
                            <p>                                                                
                                <span class="label label-info">Text result (csv, json, gml):</span>
                                <br/>
                                <div style="max-height: 200px; overflow: auto;">                                    
                                    <pre> {{datum.data}} </pre>
                                </div>                                
                            </p>
                        </div>
                        <!-- Query finished, 2D image (png, jpeg) is displayed with widget image>>-->
                        <div class="row" ng-switch-when="2">
                            <p>                               
                                <span class="label label-info">2D Image result (png, jpeg):</span>
                                <br/>
                                <img class="img-responsive" style="margin-top: 10px;"
                                     ng-src="{{'data:'+datum.imageType+';base64,'+datum.base64ImageData}}"/>
                            </p>
                        </div>
                        <!-- Query finished, 1D text is displayed with widget diagram>>-->
                        <div class="row" ng-switch-when="3">
                            <p>                                
                                <span class="label label-info">Diagram result:</span>
                                <br/>
                            </p>
                            <div class="col-sm-11 col-centered">
                                <nvd3 options="datum.diagramOptions" data="datum.diagramData"></nvd3>
                            </div>
                        </div>
                        <!-- Query finished, either download as a file or an error-->
                        <div class="row" ng-switch-when="4">
                            <p>                                
                                <span class="label label-danger">Notification result:</span>                                
                                <br/>
                                <div style="max-height: 200px; overflow: auto;">
                                    <pre> {{datum.data}} </pre>
                                </div>  
                            </p>                            
                        </div>
                        <!-- Query finished, display 2D output on WebWorldWind-->
                        <div class="row" ng-switch-when="5">
                            <p>                                
                                <span class="label label-info">Display 2D image result on WebWorldWind globe:</span>                                
                                <br/>                                
                                <!-- Then use WebWorldWind directive here to show the ouput on the globe -->
                                <wwd-display minLat="{{datum.minLat}}" minLong="{{datum.minLong}}" maxLat="{{datum.maxLat}}" 
                                             maxLong="{{datum.maxLong}}" data="{{datum.base64ImageData}}" index="{{$index}}"></wwd-display>
                            </p>                            
                        </div>
                        <div class="row" ng-switch-default>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top10">
            <div class="col-sm-11" style="margin-left: -15px;">
                <div id="queryInput" ui-codemirror="EditorOptions" ng-model="query"></div>
            </div>
            <div class="col-sm-1">
                <button ng-click="executeQuery()" class="btn btn-primary">
                    Execute
                </button>
            </div>
            <div class="col-sm-1" style="margin-top:15px">
                    
            </div>
        </div>
        <div class="row top5" style="width:91.666667%">
            <div class="col-sm-6" style="margin-left: -15px; width:40%;" id="example-dropdown">
                <div class="input-group">
                    <span class="input-group-addon">Example</span>
                    <select class="form-control" ng-options="item.query as item.title for item in availableQueries"
                            ng-model="selectedQuery">
                    </select>
                </div>
            </div>
            <div class="col-sm-6" style="margin-left: -15px;">
                <div class="input-group" >
                    <span class="input-group-addon">History</span>
                    <select class="form-control" ng-options="item.query as item.title for item in historyOfQueries"
                            ng-model="selectedHistoryQuery">
                    </select>
                </div>
            </div>
            <button ng-click="clearHistory()" class="btn btn-primary" style="float:right">
                Clear History
            </button>
        </div>
    </div>
</div>
