<div class="row top15 row-centered">
    <div class="col-sm-11 col-centered">
        <div class="row row-centered">
            <div class="col-sm-12 input-group input-group-lg">
                            <span class="input-group-addon">
                            WCS service endpoint:
                            </span>
                <input id="wcs-server-address" type="text" class="form-control"
                       placeholder="WCS server endpoint"
                       ng-model="WcsServerEndpoint"/>
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="getServerCapabilities()">Get
                                                                                                            Capabilities
                            </button>
                            </span>
            </div>
        </div>
 	
        <div class="row top15">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="IsAvailableCoveragesOpen">
                    <uib-accordion-heading>
                        Available coverages <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': IsAvailableCoveragesOpen, 'glyphicon-chevron-right': !IsAvailableCoveragesOpen}"></i>
                    </uib-accordion-heading>
                    <!-- smart table for pagination http://lorenzofox3.github.io/smart-table-website/ -->
                    <table st-table="coverageSummaries" st-safe-src="Capabilities.Contents.CoverageSummary"
                           class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="CoverageId">Coverage ID</th>
                                <th>Coverage subtype</th>
                            </tr>
                            <tr>
                                <th colspan="2"><input st-search="CoverageId" class="form-control"
                                                       placeholder="Search coverage by ID ..." type="text"/></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="coverageSummary in coverageSummaries">
                                <td><a ng-click='describeCoverage(coverageSummary.CoverageId);'>{{coverageSummary.CoverageId}}</a>
                                </td>
                                <td>{{coverageSummary.CoverageSubtype}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-right">
                                    <div st-pagination="" st-items-by-page="rowPerPageSmartTable" st-page-change="pageChanged(newPage)"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </uib-accordion-group>
                
                <!-- WebWorldWind -->
                <uib-accordion-group is-open="false"> 	
                    <uib-accordion-heading>
                        Coverages's extents on a globe (Only reprojectable coverages to EPSG:4326) 
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': IsCoveragesExtentsOpen, 
                                    'glyphicon-chevron-right': !IsCoveragesExtentsOpen}"></i>
                    </uib-accordion-heading>	                       
                    <div>
                        <!-- Create a canvas for Web WorldWind. -->
                        <canvas id="canvasGetCapabilities" style="width:100%;height:500px;">
                            Your browser does not support HTML5 Canvas.
                        </canvas>
                    </div>
                </uib-accordion-group>
                

                <uib-accordion-group is-open="IsServiceIdentificationOpen">
                    <uib-accordion-heading>
                        Service identification <i class="pull-right glyphicon"
                                                  ng-class="{'glyphicon-chevron-down': IsServiceIdentificationOpen, 'glyphicon-chevron-right': !IsServiceIdentificationOpen}"></i>
                    </uib-accordion-heading>
                    <!--Title-->
                    <div class="row" ng-show="Capabilities.ServiceIdentification.Title.length">
                        <div class="col-sm-2 display-label">Title:</div>
                        <div class="col-sm-10 display-value">{{Capabilities.ServiceIdentification.Title[0].Value}}</div>
                    </div>

                    <!--Abstract-->
                    <div class="row" ng-show="Capabilities.ServiceIdentification.Abstract.length">
                        <div class="col-sm-2 display-label">Abstract:</div>
                        <div class="col-sm-10 display-value">{{Capabilities.ServiceIdentification.Abstract[0].Value}}
                        </div>
                    </div>

                    <!--Keywords-->
                    <div class="row" ng-show="Capabilities.ServiceIdentification.Keywords.length">
                        <div class="col-sm-2 display-label">Keywords:</div>
                        <div class="col-sm-10 display-value">
                        <span ng-repeat="keyword in Capabilities.ServiceIdentification.Keywords">
                            {{keyword.Keyword[0].Value}}
                        </span>
                        </div>
                    </div>

                    <!--Service type-->
                    <div class="row" ng-show="Capabilities.ServiceIdentification.ServiceType">
                        <div class="col-sm-2 display-label">Service type:</div>
                        <div class="col-sm-10 display-value">{{Capabilities.ServiceIdentification.ServiceType.Code}}
                        </div>
                    </div>

                    <!--Service type version-->
                    <div class="row" ng-show="Capabilities.ServiceIdentification.ServiceTypeVersion.length">
                        <div class="col-sm-2 display-label">Service type version:</div>
                        <div class="col-sm-10 display-value">
                        <span ng-repeat="serviceVersion in Capabilities.ServiceIdentification.ServiceTypeVersion">
                            {{serviceVersion}}
                        </span>
                        </div>
                    </div>

                    <!--Fees-->
                    <div class="row" ng-show="Capabilities.ServiceIdentification.Fees">
                        <div class="col-sm-2 display-label">Fees:</div>
                        <div class="col-sm-10 display-value">{{Capabilities.ServiceIdentification.Fees}}</div>
                    </div>

                    <div class="row" ng-show="Capabilities.ServiceIdentification.AccessConstraints">
                        <div class="col-sm-2 display-label">Access constraints:</div>
                        <div class="col-sm-10 display-value">{{Capabilities.ServiceIdentification.AccessConstraints}}
                        </div>
                    </div>

                </uib-accordion-group>

                <uib-accordion-group is-open="IsServiceProviderOpen">
                    <uib-accordion-heading>
                        Service provider <i class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down': IsServiceProviderOpen, 'glyphicon-chevron-right': !IsServiceProviderOpen}"></i>
                    </uib-accordion-heading>
                    <!--Provider name-->
                    <div class="row">
                        <div class="col-sm-2 display-label">Provider name:</div>
                        <div class="col-sm-10 display-value">{{Capabilities.ServiceProvider.ProviderName}}</div>
                    </div>

                    <!--Provider site-->
                    <div class="row">
                        <div class="col-sm-2 display-label">Provider site:</div>
                        <div class="col-sm-10 display-value">{{Capabilities.ServiceProvider.ProviderSite.Href}}</div>
                    </div>

                    <!--Individual name-->
                    <div class="row" ng-show="Capabilities.ServiceProvider.ServiceContact.IndividualName">
                        <div class="col-sm-2 display-label">Contact person:</div>
                        <div class="col-sm-10 display-value">
                            {{Capabilities.ServiceProvider.ServiceContact.IndividualName}}
                        </div>
                    </div>

                    <!--Position name-->
                    <div class="row" ng-show="Capabilities.ServiceProvider.ServiceContact.PositionName">
                        <div class="col-sm-2 display-label">Position name:</div>
                        <div class="col-sm-10 display-value">
                            {{Capabilities.ServiceProvider.ServiceContact.PositionName}}
                        </div>
                    </div>

                    <!--Role-->
                    <div class="row" ng-show="Capabilities.ServiceProvider.ServiceContact.Role">
                        <div class="col-sm-2 display-label">Role:</div>
                        <div class="col-sm-10 display-value">{{Capabilities.ServiceProvider.ServiceContact.Role.Code}}
                        </div>
                    </div>

                    <!-- Website:-->
                    <div class="row"
                         ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.OnlineResource.Href">
                        <div class="col-sm-2 display-label"> Website:</div>
                        <div class="col-sm-10 display-value">
                            {{Capabilities.ServiceProvider.ServiceContact.ContactInfo.OnlineResource.Href}}
                        </div>
                    </div>

                    <!-- Phone:-->
                    <div class="row"
                         ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Facsimile.length || Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Voice.length">
                        <div class="col-sm-12">
                            <div class="row"
                                 ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Voice.length">
                                <div class="col-sm-2 display-label"> Voice:</div>
                                <div class="col-sm-10 display-value">
                        <span ng-repeat="voiceNumber in Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Voice">
                            {{voiceNumber}} &nbsp;
                        </span>
                                </div>
                            </div>

                            <div class="row"
                                 ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Facsimile.length">
                                <div class="col-sm-2 display-label"> Facsimile:</div>
                                <div class="col-sm-10 display-value">
                        <span ng-repeat="faxNumber in Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Facsimile">
                            {{faxNumber}} &nbsp;
                        </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--Address-->
                    <div class="row"
                         ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address">
                        <div class="col-sm-12">

                            <div class="row"
                                 ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.ElectronicMailAddress.length">
                                <div class="col-sm-2 display-label"> Electronic mail address:</div>
                                <div class="col-sm-10 display-value">
                                    <a ng-repeat="email in Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.ElectronicMailAddress"
                                       target="_top"
                                       href="mailto:{{email}}">
                                        <span>{{email}} </span>
                                    </a>

                                </div>
                            </div>

                            <div class="row"
                                 ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.DeliveryPoint.length">
                                <div class="col-sm-2 display-label"> Delivery point:</div>
                                <div class="col-sm-10 display-value">
                        <span ng-repeat="deliveryPoint in Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.DeliveryPoint">
                            {{deliveryPointr}} &nbsp;
                        </span>
                                </div>
                            </div>

                            <div class="row"
                                 ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.City">
                                <div class="col-sm-2 display-label"> City:</div>
                                <div class="col-sm-10 display-value">
                                    {{Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.City}}
                                </div>
                            </div>

                            <div class="row"
                                 ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.AdministrativeArea">
                                <div class="col-sm-2 display-label"> Administrative area:</div>
                                <div class="col-sm-10 display-value">
                                    {{Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.AdministrativeArea}}
                                </div>
                            </div>

                            <div class="row"
                                 ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.PostalCode">
                                <div class="col-sm-2 display-label"> Postal code:</div>
                                <div class="col-sm-10 display-value">
                                    {{Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.PostalCode}}
                                </div>
                            </div>


                            <div class="row"
                                 ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.Country">
                                <div class="col-sm-2 display-label"> Country:</div>
                                <div class="col-sm-10 display-value">
                                    {{Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.Country}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Hours of service:-->
                    <div class="row" ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.HoursOfService">
                        <div class="col-sm-2 display-label"> Hours of service:</div>
                        <div class="col-sm-10 display-value">
                            {{Capabilities.ServiceProvider.ServiceContact.ContactInfo.HoursOfService}}
                        </div>
                    </div>

                    <!-- Contact instructions:-->
                    <div class="row"
                         ng-show="Capabilities.ServiceProvider.ServiceContact.ContactInfo.ContactInstructions">
                        <div class="col-sm-2 display-label"> Contact instructions:</div>
                        <div class="col-sm-10 display-value">
                            {{Capabilities.ServiceProvider.ServiceContact.ContactInfo.ContactInstructions}}
                        </div>
                    </div>


                </uib-accordion-group>

                <uib-accordion-group is-open="IsCapabilitiesDocumentOpen"  ng-show="CapabilitiesDocument.Value">
                    <uib-accordion-heading>
                        GML server Capabilities document <i class="pull-right glyphicon"
                                                            ng-class="{'glyphicon-chevron-down': IsCapabilitiesDocumentOpen, 'glyphicon-chevron-right': !IsCapabilitiesDocumentOpen}"></i>
                    </uib-accordion-heading>

                    <ras-pretty-print data="{Value:CapabilitiesDocument.Value, Type:'xml'}">

                    </ras-pretty-print>
                </uib-accordion-group>

            </uib-accordion>
        </div>
    </div>

</div>
