{#-
 # test shifting an array to a new origin
 #}
{%- for k, subset in mdd_constant_subsets.iteritems() -%}
{%    if k.startswith('slices_') or k == 'trims_intersecting' -%}
query: SELECT shift(c + {{cell_type_val}}, {{subset}}) FROM {{coll_name}} AS c
id: {{test_id ~ "_" ~ k}}
{{separator}}
query: SELECT shift(c + {{cell_type_val}}, {{subset}}){{subset}} FROM {{coll_name}} AS c
id: {{test_id ~ "_" ~ k ~ "_subset_result"}}
{{separator}}
{%      if dimension == 1 -%}
query: SELECT shift({{cell_type_val}}, {{subset}})
id: {{template_name ~ "_scalar_" ~ cell_type_name ~ "_" ~ k}}
{{separator}}
{%      endif -%}
{%    endif -%}
{% endfor -%}
{% if dimension == 2 and cell_type_name == 'char' -%}
query: SELECT shift(c, {{cell_type_val}}) FROM {{coll_name}} AS c
id: {{test_id ~ "_non_point"}}
{{separator}}
query: SELECT shift(c, [0,5,5]) FROM {{coll_name}} AS c
id: {{test_id ~ "_invalid_dim_3"}}
{{separator}}
query: SELECT shift(c, [5]) FROM {{coll_name}} AS c
id: {{test_id ~ "_invalid_dim_1"}}
{{separator}}
{% endif -%}
