.DS_Store
.idea

# Automatically downloaded by TSD and only needed for compilation
app/assets/typings

# Automatically downloaded by Bower
app/assets/components/*/*

node_modules

!app/assets/components/angular-animate/angular-animate.min.js
!app/assets/components/angular-bootstrap/ui-bootstrap-csp.css
!app/assets/components/angular-bootstrap/ui-bootstrap-tpls.min.js
!app/assets/components/angular-nvd3/dist/angular-nvd3.min.js
!app/assets/components/angular-route/angular-route.min.js
!app/assets/components/angular-sanitize/angular-sanitize.min.js
!app/assets/components/angular-scroll-glue/src/scrollglue.js
!app/assets/components/angular-smart-table/dist/smart-table.min.js
!app/assets/components/angular-ui-codemirror/ui-codemirror.min.js
!app/assets/components/angular-ui-notification/dist/angular-ui-notification.min.css
!app/assets/components/angular-ui-notification/dist/angular-ui-notification.min.js
!app/assets/components/angular-ui-router/release/angular-ui-router.min.js
!app/assets/components/angular/angular.min.js
!app/assets/components/bootstrap/dist/
!app/assets/components/codemirror/lib/codemirror.css
!app/assets/components/codemirror/lib/codemirror.js
!app/assets/components/codemirror/mode/xquery/xquery.js
!app/assets/components/codemirror/theme/eclipse.css
!app/assets/components/d3/d3.min.js
!app/assets/components/html5shiv/dist/html5shiv.min.js
!app/assets/components/jquery-ui/jquery-ui.min.js
!app/assets/components/jquery-ui/themes/smoothness/jquery-ui.min.css
!app/assets/components/jquery/dist/jquery.min.js
!app/assets/components/nvd3/build/nv.d3.min.css
!app/assets/components/nvd3/build/nv.d3.min.js
!app/assets/components/respond/dest/respond.min.js
!app/assets/components/xmlToJSON.js/lib/xmlToJSON.js
!app/assets/components/fileSaver/fileSaver.js
