<div class="row top15 row-centered">
    <div class="col-sm-11 col-centered" style="background-color: white;">        
        <div class="row row-centered">
            <div class="col-sm-12 input-group input-group-lg">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-globe"></span>
                            </span>
                <input type="text"
                       autocomplete
                       ng-model="selectedLayerName"
                       class="form-control"
                       source="layerNames"
                       placeholder="Input layer name or part of it"/>
                           <span class="input-group-btn">
                <button class="btn btn-info"
                        type="button" class="btn btn-info"
                        ng-disabled="!isLayerNameValid()"
                        ng-click="describeLayer()">
                    Describe Layer
                </button>
            </span>
            </div>
        </div>

        <div class="row top15" ng-model="layer" ng-hide="!isLayerDocumentOpen">
            <div class="col-sm-12">
                <p>You have selected layer with name: <span class="important-text">{{layer.name}}</span></p>
                <ul>
                    <li>Title: {{layer.title}}</li>
                    <li>Abstract: {{layer.abstract}}</li>                    
                    <li>Coordinate Reference System (CRS) code: {{layer.crs}}</li>
                    <li ng-show="layer.customizedMetadata != null">Size: {{layer.customizedMetadata.coverageSize}}</li>
                </ul>
                with geographic bounding box (<span class="important-text">EX_GeographicBoundingBox</span>) reprojected to <span class="important-text">WGS84</span>:
                <ul>
                    <li>West bound longitude: {{layer.coverageExtent.bbox.xmin}}</li>
                    <li>South bound latitude: {{layer.coverageExtent.bbox.ymin}}</li>
                    <li>East bound longitude: {{layer.coverageExtent.bbox.xmax}}</li>
                    <li>North bound latitude: {{layer.coverageExtent.bbox.ymax}}</li>
                </ul>         
            </div>
        </div>

        <div class="row top15" ng-repeat="coverageDescription in coverageDescriptions.coverageDescription">
            <div class="col-sm-12">
                <p>Layer <span class="important-text">{{coverageDescription.coverageId}} </span> with <span class="important-text">{{coverageDescription.boundedBy.envelope.srsDimension}}</span> axes:
                </p>

                <!-- coverage's axes -->
                <ul ng-repeat="axisLabel in coverageDescription.boundedBy.envelope.axisLabels">
                    <li>
                        <span class="important-text">
                        {{axisLabel}}
                    </span>
                        <span ng-show="coverageDescription.boundedBy.envelope.axisLabels.length == coverageDescription.boundedBy.envelope.uomLabels.length">
                        (measured in <span class="important-text"> {{coverageDescription.boundedBy.envelope.uomLabels[$index]}}</span> )
                        </span>
                        with domain extent from <span class="important-text"> {{coverageDescription.boundedBy.envelope.lowerCorner.values[$index]}}</span> to <span class="important-text">{{coverageDescription.boundedBy.envelope.upperCorner.values[$index]}}</span>.
                    </li>
                </ul>
            </div>
        </div>

        <!-- WebWorldWind -->
        <div class="row top15" ng-hide="!isLayerDocumentOpen">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="isLayerDocumentOpen"> 	
                    <uib-accordion-heading>
                        Footprint of layer
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': isLayerDocumentOpen, 
                                    'glyphicon-chevron-right': !isLayerDocumentOpen}"></i>
                    </uib-accordion-heading>   
                    
                    <div>
                        <div>
                            Default GetMap request of this layer: <br/>
                            <a href="{{getMapRequestURL}}" target="_blank" id="getMapRequestURL"></a> <br/><br/>

                            <div ng-show="display3DLayerNotification">
                                <b>NOTE:</b> When a non-spatial axis for a 3D+ coverage is omitted from the WMS GetMap request, 
                                then according to the WMS 1.3 standard the top-most spatial slice is selected. WebWorldWind can 
                                only display 2D layers and maximum 3D layers with an existing time axis.<br/><br/>
                            </div>

                            <a href="https://doc.rasdaman.org/05_geo-services-guide.html?highlight=fragment#style-creation" target="_blank">
                                <img src="ows/assets/img/exclamation-mark.png" ng-show="display4BandsExclamationMark" 
                                    ng-mouseover="display4BandsNotification = true" ng-mouseout="display4BandsNotification = false"
                                    style="height:4%;width:4%;margin-right: 5px; margin-bottom: 10px; margin-top:-5px;" align="left"/>
                            </a>
                                 
                            <div ng-show="display4BandsNotification" style="margin-top: -10px">
                                <b>NOTE:</b> Layer has either 2 or more than 4 bands and hence cannot be encoded to PNG. 
                                <br>
                                <b>HINT:</b> Try selecting 1, 3, or 4 bands with a WMS style:
                                <a href="https://doc.rasdaman.org/05_geo-services-guide.html?highlight=fragment#style-creation">
                                    https://doc.rasdaman.org/05_geo-services-guide.html?highlight=fragment#style-creation</a>
                                <br/><br/>
                            </div>

                            <!-- <p class="center-block well well-sm" id="sliderBboxText"></p> -->
                            <div class="containerSliders">
                                <label class="sliderLabel">Latitude: </label>
                                <div id="latSlider" class="slider" data-toggle="tooltip" title="" data-placement="top"></div>
                            </div>
                            
                            <div class="containerSliders">
                                <label class="sliderLabel">Longitude: </label>
                                <div id="longSlider" class="slider" data-toggle="tooltip" title="" data-placement="top"></div>
                            </div>
                            <div id="sliders"></div>

                            

                            Display WMS layer on WebWorldWind globe: &nbsp;&nbsp;&nbsp;
                            <input type="button"
                                ng-model="selectedStyleName" ng-click="showWMSLayerOnGlobe(selectedStyleName)" value="show layer" ng-show="!displayWMSLayer"/>
                            <input type="button"
                                ng-model="selectedStyleName" ng-click="hideWMSLayerOnGlobe()" value="hide layer" ng-show="displayWMSLayer"/>
                        </div>
                        <br/>
                        <!-- Create a canvas for Web WorldWind. -->
                        <canvas id="wmsCanvasDescribeLayer" style="width:100%;height:500px;">
                            Your browser does not support HTML5 Canvas.
                        </canvas>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>

        <!-- Layers's styles -->
        <div class="row top15" ng-hide="!isLayerDocumentOpen">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="isLayerDocumentOpen"> 	
                    <uib-accordion-heading>
                        Styles of the selected layer
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': isLayerDocumentOpen, 
                                    'glyphicon-chevron-right': !isLayerDocumentOpen}"></i>
                    </uib-accordion-heading>                    
                    <!-- smart table for pagination http://lorenzofox3.github.io/smart-table-website/ -->
                    <table st-table="styles" st-safe-src="layer.styles"
                           class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan=15%>Style Name</th>
                                <th colspan=40% style="width: 40%;">Abstract</th>
                                <th colspan=45% style="width: 45%;" ng-show="adminStateInformation.loggedIn">Operations</th>
                            </tr>
                            <tr>
                                <td colspan=100%><input st-search="name" class="form-control"
                                                       placeholder="Search style by name ..." type="text"/></td>
                            </tr>

                        </thead>
                        <tbody>                            
                            <tr>
                                <!-- Every layer has this no style and cannot be deleted -->
                                <td colspan=15%>No style</td>
                                <td colspan=45%></td>                                
                                <td colspan=20%>
                                    <input type="radio" ng-model="selectedStyleName" value="" ng-click='showWMSLayerOnGlobe("")' name="styles" title="Display the layer with selected style on WebWorldWind globe as WMS layer." 
                                    onmouseout="$(this).tooltip('hide')" onmouseover="$(this).tooltip('show')" data-placement="left"> &nbsp; View style on globe
                                </td>
                                <td colspan=10%><a href="{{getMapRequestURL}}" id="secGetMap" target="_blank" title="Open a new tab in web browser to show the GetMap request result." 
                                    onmouseout="$(this).tooltip('hide')" onmouseover="$(this).tooltip('show')" data-placement="left">GetMap request</a></td>
                                <td colspan=10%></td>
                            </tr>
                            <tr ng-repeat="style in styles">                                
                                <td colspan=15%><a ng-click='describeStyleToUpdate(style.name);'>{{style.name}}</a></td>                                
                                <td colspan=45%>{{style.abstract | limitTo:50}}</td>
                                <td colspan=20%>
                                    <input type="radio" ng-model="selectedStyleName" value="{{style.name}}" ng-click="showWMSLayerOnGlobe(style.name)" name="styles" title="Display the layer with selected style on WebWorldWind globe as WMS layer." 
                                    onmouseout="$(this).tooltip('hide')" onmouseover="$(this).tooltip('show')" data-placement="left"> &nbsp; View style on globe
                                </td>
                                <td colspan=10%><a href='{{getMapRequestURL}}{{style.name}}' target="_blank" title="Open a new tab in web browser to show the GetMap request result." 
                                    onmouseout="$(this).tooltip('hide')" onmouseover="$(this).tooltip('show')" data-placement="left">GetMap request</a></td>
                                </td>
                                <td colspan=10% ng-show="adminStateInformation.loggedIn">                                    
                                     <button class="btn btn-danger" ng-click="deleteStyle(style.name)" ng-show="adminStateInformation.loggedIn">Delete</button>                                    
                                </td>                           
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan=100% class="text-right">
                                    <div st-pagination="" st-items-by-page="5"></div>                                    
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                   <!-- style's form to insert/update -->
                   <div class="container">
                        <form class="form-horizontal" action="">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Style name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Enter style name" id="styleName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Abstract:</label>
                                <div class="col-sm-8">          
                                    <textarea rows="3" class="form-control" placeholder="Enter style abstract" id="styleAbstract"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Query type:</label>
                                <div class="col-sm-3">          
                                    <select class="form-control" id="styleQueryType">                                        
                                        <option value="none" selected>None</option>
                                        <option value="wcpsQueryFragment" selected>WCPS query fragment</option>
                                        <option value="rasqlTransformFragment">Rasql transform fragment</option>                                                                                
                                    </select>                                    
                                </div>
                                <div class="col-sm-3"> 
                                    <a href="https://doc.rasdaman.org/05_geo-services-guide.html#style-creation" target="_blank">Link to WMS style queries example</a>
                                </div>
                            </div>
                            <div class="form-group" id="divStyleQuery" style="display: none;">
                                <label class="control-label col-sm-2">Query:</label>
                                <div class="col-sm-8">          
                                    <textarea rows="5" class="form-control" placeholder="Enter style query" id="styleQuery"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Color table type:</label>
                                <div class="col-sm-3">          
                                    <select class="form-control" id="styleColorTableType">
                                        <option value="none">None</option>
                                        <option value="ColorMap" selected>Color Map</option>
                                        <option value="GDAL">GDAL</option>
                                        <option value="SLD">SLD</option>
                                    </select>                                    
                                </div>                                
                            </div>
                            <div class="form-group" id="divStyleColorTableDefinition" style="display: none;">
                                <label class="control-label col-sm-2">Color table definition:</label>
                                <div class="col-sm-6">          
                                    <textarea rows="5" class="form-control" placeholder="Enter color table definition manually or select a style file from local system." id="styleColorTableDefinition"/>
                                </div>
                                <div class="col-sm-2">
                                        <label class="btn btn-success">
                                            <input id="colorTableDefinitionStyleFileInput" type="file" style="display:none">
                                        Select style file
                                        </label>
                                </div>
                            </div>

                            <div class="form-group" ng-show="adminStateInformation.loggedIn">        
                                <div class="col-sm-offset-2 col-sm-1">
                                    <button class="btn btn-primary" type="button" ng-click="insertStyle()">Insert Style</button>
                                </div>
                                <div class="col-sm-offset-4">
                                    <button class="btn btn-warning" type="button" ng-click="updateStyle()">Update Style</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </uib-accordion-group>
            </uib-accordion>
        </div>

        <!-- Layers's downscaled collection levels of selected layer -->
        <div class="row top15" ng-hide="!isLayerDocumentOpen">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="isLayerDocumentOpen"> 	
                    <uib-accordion-heading>
                        Downscaled collection levels of the selected layer
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': isLayerDocumentOpen, 
                                    'glyphicon-chevron-right': !isLayerDocumentOpen}"></i>
                    </uib-accordion-heading>                    
                    <!-- smart table for pagination http://lorenzofox3.github.io/smart-table-website/ -->
                    <table st-table="levels" st-safe-src="layer.downscaledCollectionLevels"
                           class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan=55% style="width: 40%;">Level</th>
                                <th colspan=45% style="width: 45%;">Operations</th>
                            </tr>                            

                        </thead>
                        <tbody>                            
                            <tr ng-repeat="level in levels">                                
                                <td colspan=55%>{{level}}</td>
                                <td colspan=45%>                                    
                                     <button class="btn btn-danger" ng-click="deleteDownscaledCollectionLevel(level)" ng-show="adminStateInformation.loggedIn">Delete</button>
                                </td>                           
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan=100% class="text-right">
                                    <div st-pagination="" st-items-by-page="5"></div>                                    
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                   <!-- downscaled collection levels' form to insert -->
                   <div class="container" ng-show="adminStateInformation.loggedIn">
                        <form class="form-horizontal" action="">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Level:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="Positive number for downscaled level" id="levelValue">
                                </div>
                            </div>                            

                            <div class="form-group">        
                                <div class="col-sm-offset-2 col-sm-1">
                                    <button class="btn btn-primary" type="button" ng-click="insertDownscaledCollectionLevel()">Insert Level</button>
                                </div>                                
                            </div>
                        </form>
                    </div>

                </uib-accordion-group>
            </uib-accordion>
        </div>

        <!-- GML document of specified metadata -->
        <div class="row top15" ng-hide="!isLayerDocumentOpen" style="margin-top: -15px;">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="isLayerDocumentOpen">
                    <uib-accordion-heading>
                        GML layer descriptions document <i class="pull-right glyphicon"
                                                              ng-class="{'glyphicon-chevron-down': isLayerDocumentOpen,
'glyphicon-chevron-right': !isLayerDocumentOpen}"></i>
                    </uib-accordion-heading>
                    <ras-pretty-print data="{value:layer.gmlDocument, type:'xml'}">
                    </ras-pretty-print>
                </uib-accordion-group>

            </uib-accordion>
        </div>

    </div>

</div>
