<div class="row-sm-12 top15">
    <div class="col-sm-12">
        <div class="row-sm-12">
            <div class="col-sm-12 input-group input-group-lg">
                            <span class="input-group-addon">
                            WMS service endpoint:
                            </span>
                <input id="wms-server-address" type="text" class="form-control"
                       placeholder="WMS server endpoint"
                       ng-model="wmsServerEndpoint"/>
                            <span class="input-group-btn">
                            <button class="btn btn-info" id="wmsGetServerCapabilitiesBtn" type="button" ng-click="getServerCapabilities()">
                                Get Capabilities
                            </button>
                            </span>
            </div>
        </div>
 	
        <div class="row-sm-12 top15">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="isAvailableLayersOpen">
                    <uib-accordion-heading>
                        Available layers
                                        ( Total volume: {{capabilities.totalLayerSizesInGBs}} GB
                                        <span ng-show="capabilities.showLayerLocationsColumn"> 
                                            - Local volume: {{capabilities.totalLocalLayerSizesInGBs}} GB
                                            - Remote volume: {{capabilities.totalRemoteLayerSizesInGBs}} GB
                                        </span>                        
                                        )  
                                        <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': isAvailableLayersOpen, 'glyphicon-chevron-right': !isAvailableLayersOpen}"></i>
                    </uib-accordion-heading>
                    <!-- smart table for pagination http://lorenzofox3.github.io/smart-table-website/ -->
                    <table st-table="layers" st-safe-src="capabilities.layers"
                           class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan=55% st-sort="name">Layer name</th>
                                <th colspan=15% ng-show="capabilities.showLayerLocationsColumn == true">Layer location</th>
                                <th colspan=15% ng-show="capabilities.showLayerSizesColumn == true">Layer size</th>
                                <th colspan=15% style="width: 15%;">Display footprints</th>
                            </tr>
                            <tr>
                                <td colspan=100%><input st-search="name" class="form-control"
                                                       placeholder="Search layer by name ..." type="text"/></td>
                            </tr>

                        </thead>
                        <tbody>                            
                            <tr ng-repeat="layer in layers">                                
                                <td colspan=55%><a ng-click='describeLayer(layer.name);'>{{layer.name}}</a></td>
                                <td colspan=15% ng-show="capabilities.showLayerLocationsColumn == true">
                                        <a href="{{layer.customizedMetadata.petascopeEndPoint}}">{{layer.customizedMetadata.hostname}}</a>
                                </td>
                                <td colspan=15% ng-show="capabilities.showLayerSizesColumn == true">
                                    {{layer.customizedMetadata.coverageSize}}
                                </td>
                                <td colspan=15%><input type="checkbox" ng-model="layer.displayFootprint"
                                    ng-change="displayFootprintOnGlobe(layer.name)"
                                    onmouseout="$(this).tooltip('hide')" onmouseover="$(this).tooltip('show')" data-placement="left" title="Show/Hide this layer's footprint on globe."/>                                    
                                </td>                            
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan=100% class="text-right">
                                    <div st-pagination="" st-items-by-page="rowPerPageSmartTable" st-page-change="pageChanged(newPage)"></div>
                                    <div class="checkbox" style="font-size: 16px;">
                                        <input type="checkbox" id="wmsDisplayAllFootprintsCheckbox" title="Load all layers's footprints on globe from all pages." 
                                            ng-model="showAllFootprints" ng-change="displayAllFootprintsOnGlobe(showAllFootprints)"
                                            onmouseout="$(this).tooltip('hide')" onmouseover="$(this).tooltip('show')" data-placement="left">Display all footprints</input>                                            
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </uib-accordion-group>
                
                <!-- WebWorldWind -->
                <uib-accordion-group is-open="isAvailableLayersOpen"> 	
                    <uib-accordion-heading>
                        Footprints of layers
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': isAvailableLayersOpen, 
                                    'glyphicon-chevron-right': !isAvailableLayersOpen}"></i>
                    </uib-accordion-heading>	                       
                    <div>
                        <!-- Create a canvas for Web WorldWind. -->
                        <canvas id="wmsCanvasGetCapabilities" style="width:100%;height:500px;">
                            Your browser does not support HTML5 Canvas.
                        </canvas>
                    </div>
                </uib-accordion-group>
                

                <uib-accordion-group is-open="isServiceIdentificationOpen">
                    <uib-accordion-heading>
                        Service identification <i class="pull-right glyphicon"
                                                  ng-class="{'glyphicon-chevron-down': isServiceIdentificationOpen, 'glyphicon-chevron-right': !isServiceIdentificationOpen}"></i>
                    </uib-accordion-heading>                    
                    <!--Title-->                    
                    <div class="row" ng-show="capabilities.serviceIdentification.title">
                        <div class="col-sm-2 display-label">Title:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceIdentification.title}}</div>
                    </div>

                    <!--Abstract-->
                    <div class="row" ng-show="capabilities.serviceIdentification.abstract">
                        <div class="col-sm-2 display-label">Abstract:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceIdentification.abstract}}
                        </div>
                    </div>

                    <!--Service type-->
                    <div class="row" ng-show="capabilities.serviceIdentification.serviceType">
                        <div class="col-sm-2 display-label">Service type:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceIdentification.serviceType}}
                        </div>
                    </div>

                    <!--Service type version-->
                    <div class="row" ng-show="capabilities.serviceIdentification.serviceTypeVersion">
                        <div class="col-sm-2 display-label">Service type version:</div>                        
                        <div class="col-sm-10 display-value">{{capabilities.serviceIdentification.serviceTypeVersion}}
                        </div>                        
                    </div>

                </uib-accordion-group>

                <uib-accordion-group is-open="isServiceProviderOpen">
                    <uib-accordion-heading>
                        Service provider <i class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down': isServiceProviderOpen, 'glyphicon-chevron-right': !isServiceProviderOpen}"></i>
                    </uib-accordion-heading>
                    <!--Provider name-->
                    <div class="row" ng-show="capabilities.serviceProvider.providerName">
                        <div class="col-sm-2 display-label">Provider name:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceProvider.providerName}}</div>
                    </div>

                    <!--Provider site-->
                    <div class="row" ng-show="capabilities.serviceProvider.providerSite">
                        <div class="col-sm-2 display-label">Provider site:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceProvider.providerSite}}</div>
                    </div>

                    <!--Contact person-->
                    <div class="row" ng-show="capabilities.serviceProvider.contactPerson">
                        <div class="col-sm-2 display-label">Contact person:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.contactPerson}}
                        </div>
                    </div>

                    <!--Position name-->
                    <div class="row" ng-show="capabilities.serviceProvider.positionName">
                        <div class="col-sm-2 display-label">Position name:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.positionName}}
                        </div>
                    </div>

                    <!--Role-->
                    <div class="row" ng-show="capabilities.serviceProvider.positionName">
                        <div class="col-sm-2 display-label">Role:</div>
                        <div class="col-sm-10 display-value">
                            pointOfContact
                        </div>
                    </div>

                    <!-- Voice Phone:-->
                    <div class="row" ng-show="capabilities.serviceProvider.voicePhone">
                        <div class="col-sm-2 display-label">Voice:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.voicePhone}}
                        </div>
                    </div>

                    <!-- Electronic mail address:-->
                    <div class="row" ng-show="capabilities.serviceProvider.email">
                        <div class="col-sm-2 display-label">Electronic mail address:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.email}}
                        </div>
                    </div>

                    <!-- Delivery point:-->
                    <div class="row" ng-show="capabilities.serviceProvider.address">
                        <div class="col-sm-2 display-label">Delivery point:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.address}}
                        </div>
                    </div>

                    <!-- City:-->
                    <div class="row" ng-show="capabilities.serviceProvider.city">
                        <div class="col-sm-2 display-label">City:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.city}}
                        </div>
                    </div>

                    <!-- Postal Code:-->
                    <div class="row" ng-show="capabilities.serviceProvider.postCode">
                        <div class="col-sm-2 display-label">Postal code:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.postCode}}
                        </div>
                    </div>

                    <!-- Country:-->
                    <div class="row" ng-show="capabilities.serviceProvider.country">
                        <div class="col-sm-2 display-label">Country:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.country}}
                        </div>
                    </div>


                </uib-accordion-group>

                <uib-accordion-group is-open="isCapabilitiesDocumentOpen"  ng-show="capabilitiesDocument.Value">
                    <uib-accordion-heading>
                        GML server Capabilities document <i class="pull-right glyphicon"
                                                            ng-class="{'glyphicon-chevron-down': isCapabilitiesDocumentOpen, 'glyphicon-chevron-right': !isCapabilitiesDocumentOpen}"></i>
                    </uib-accordion-heading>

                    <ras-pretty-print data="{value:capabilitiesDocument.value, type:'xml'}">

                    </ras-pretty-print>
                </uib-accordion-group>

            </uib-accordion>
        </div>
    </div>

</div>
