<!-- /*
 * This file is part of rasdaman community.
 *
 * Rasdaman community is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Rasdaman community is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with rasdaman community.  If not, see <http://www.gnu.org/licenses/>.
 *
 * Copyright 2003 - 2017 Peter Baumann /
 rasdaman GmbH.
 *
 * For more information please see <http://www.rasdaman.org>
 * or contact Peter Baumann via <baumann@rasdaman.com>.
 */
-->

<!DOCTYPE html>
<html lang="en" ng-app="wcsClient">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The rasdaman WCS client">
        <meta name="author" content="rasdaman GmbH">

        <title>OGC Web Services (OWS) Client</title>

        <!-- Bootstrap Core CSS -->
        <link href="assets/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
        <link href="assets/components/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
        <link href="assets/libs/code-prettify/prettify.css" rel="stylesheet">
        <link href="assets/components/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet">
        <link href="assets/components/codemirror/lib/codemirror.css" rel="stylesheet">
        <link href="assets/components/codemirror/theme/eclipse.css" rel="stylesheet">
        <link href="assets/components/nvd3/build/nv.d3.min.css" rel="stylesheet">

        <link href="assets/css/custom.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="assets/components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="assets/components/respond/dest/respond.min.js"></script>
        <![endif]-->

    </head>
    <body> 
        <img class="logo" src="assets/img/rasdaman-logo.png" align="right">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <uib-tabset active="active">    
                        <!-- WCS content -->                                            
                        <uib-tab index="1" heading="OGC Web Coverage Service (WCS)">
                            <uib-tabset justified="true">
                                <div ng-controller="rasdaman.WCSMainController">
                                    <uib-tabset justified="true">
                                        <uib-tab ng-repeat="tab in tabs" heading="{{tab.heading}}" active="tab.active"
                                                disable="tab.disabled">
                                             <div ui-view="{{tab.view}}"></div> 
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                            </uib-tabset>
                        </uib-tab>                        
                        <!-- WMS content -->  
                        <uib-tab index="0" heading="OGC Web Map Service (WMS)">
                            <uib-tabset justified="true">
                                 <div ng-controller="rasdaman.WMSMainController">                                     
                                    <uib-tabset justified="true">
                                        <uib-tab ng-repeat="tab in tabs" heading="{{tab.heading}}" active="tab.active"
                                                disable="tab.disabled">                                                                                       
                                            <div ui-view="{{tab.view}}"></div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                            </uib-tabset>
                        </uib-tab>
                        <!-- Admin content -->  
                        <uib-tab index="2" heading="Admin">
                            <uib-tabset justified="true">
                                    <div ng-controller="rasdaman.AdminMainController">                                     
                                    <uib-tabset justified="true">                                        
                                        <uib-tab ng-repeat="tab in tabs" heading="{{tab.heading}}" active="tab.active"
                                                disable="tab.disabled">                                                                                                              
                                            <div ui-view="{{tab.view}}"></div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                            </uib-tabset>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </body>

    <!-- WebWorldWind -->
    <!-- it needs to load Bing Map online and some stuffs for control buttons -->
    <script src="https://files.worldwind.arc.nasa.gov/artifactory/apps/web/worldwind.min.js" type="text/javascript"></script>
    <!--Prettify-->
    <script src="assets/libs/code-prettify/prettify.js"></script>
    <script src="assets/components/codemirror/lib/codemirror.js"></script>
    <script src="assets/components/codemirror/mode/xquery/xquery.js"></script>
    <script src="assets/components/xmlToJSON.js/lib/xmlToJSON.js"></script>
    <script src="assets/components/jquery/dist/jquery.min.js"></script>
    <script src="assets/components/jquery-ui/jquery-ui.min.js"></script>
    <script src="assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/components/d3/d3.min.js"></script>
    <script src="assets/components/nvd3/build/nv.d3.min.js"></script>

    <script src="assets/components/fileSaver/fileSaver.js"></script>

    <script src="assets/components/angular/angular.min.js"></script>
    <script src="assets/components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="assets/components/angular-route/angular-route.min.js"></script>
    <script src="assets/components/angular-animate/angular-animate.min.js"></script>
    <script src="assets/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="assets/components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="assets/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="assets/components/angular-scroll-glue/src/scrollglue.js"></script>
    <script src="assets/components/angular-nvd3/dist/angular-nvd3.min.js"></script>

    <script src="assets/components/angular-ui-codemirror/ui-codemirror.min.js"></script>
    <script src="main.js"></script>
</html>
