<div class="row">
        <div class="col-sm-12">
        <label style="margin: 15px;">Hint: reload WCS GetCapabilities to see the newly updated informations after updating Service Identification/Provider.</label>
        <a href="" style="float: right; margin-top: 10px; font-size: large;" ng-click="logOut()">Log out</a>

        <!-- Service Identifcation -->
        <uib-accordion close-others="false">
            <uib-accordion-group is-open="true">
                <uib-accordion-heading>
                    Service Identification <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': isAvailableLayersOpen, 'glyphicon-chevron-right': !isAvailableLayersOpen}"></i>
                </uib-accordion-heading>

                    <!--Title-->            
                    <div class="form-group">
                        <label>Title</label>
                        <!-- NOTE: ng-model with value:string cannot work under accordion for two ways data binding, it needs an object -->
                        <input class="form-control" ng-model="serviceIdentification.serviceTitle">
                    </div>

                    <!--Abstract-->            
                    <div class="form-group">
                        <label>Abstract</label>
                        <textarea class="form-control" ng-model="serviceIdentification.abstract" rows="10"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="button" class="btn btn-primary" ng-click="updateServiceIdentification()" value="Update Service Identifcation"/>
                    </div>

            </uib-accordion-group>
        </uib-accordion>

        <!-- Service Provider -->
        <uib-accordion close-others="false">
            <uib-accordion-group is-open="true">
                <uib-accordion-heading>
                    Service Provider  <i class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down': isAvailableLayersOpen, 'glyphicon-chevron-right': !isAvailableLayersOpen}"></i>
                </uib-accordion-heading>
                
                <form>
                    <!--Provider name-->            
                    <div class="form-group">
                        <label>Provider name</label>
                        <input class="form-control" ng-model="serviceProvider.providerName">
                    </div>

                    <!--Provider web site-->            
                    <div class="form-group">
                        <label>Provider web site</label>
                        <input class="form-control" ng-model="serviceProvider.providerSite">
                    </div>

                    <!--Individual name-->
                    <div class="form-group">
                        <label>Contact person</label>
                        <input class="form-control" ng-model="serviceProvider.individualName">                        
                    </div>

                    <!--Position name-->
                    <div class="form-group">
                        <label>Position name</label>
                        <input class="form-control" ng-model="serviceProvider.positionName">
                    </div>

                    <!--Role-->
                    <div class="form-group">
                        <label>Role name</label>
                        <input class="form-control" ng-model="serviceProvider.role">
                    </div>

                    <!-- email -->
                    <div class="form-group">
                        <label> Electronic mail address</label>
                        <input class="form-control" ng-model="serviceProvider.email">
                    </div>

                    <!-- Voice phone -->
                    <div class="form-group">
                        <label> Voice phone</label>
                        <input class="form-control" ng-model="serviceProvider.voicePhone">
                    </div>

                    <!-- Facsimile phone -->
                    <div class="form-group">
                        <label> Facsimile phone</label>
                        <input class="form-control" ng-model="serviceProvider.facsimilePhone">
                    </div>

                    <!-- Hours of service -->
                    <div class="form-group">
                        <label> Hours of service</label>
                        <input class="form-control" ng-model="serviceProvider.hoursOfService">
                    </div>

                    <!-- Contact instructions -->
                    <div class="form-group">
                        <label> Contact instructions</label>
                        <textarea rows="5" class="form-control" ng-model="serviceProvider.contactInstructions"></textarea>
                    </div>

                    <!-- City -->
                    <div class="form-group">
                        <label> City</label>
                        <input class="form-control" ng-model="serviceProvider.city">
                    </div>

                    <!-- Administrative area -->
                    <div class="form-group">
                        <label> Administrative area</label>
                        <input class="form-control" ng-model="serviceProvider.administrativeArea">
                    </div>

                    <!-- Postal code -->
                    <div class="form-group">
                        <label> Postal code</label>
                        <input class="form-control" ng-model="serviceProvider.postalCode">
                    </div>

                    <!-- Country -->
                    <div class="form-group">
                        <label> Country</label>
                        <input class="form-control" ng-model="serviceProvider.country">
                    </div>

                    <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="updateServiceProvider()">Update Service Provider</button>
                    </div>

                </form>

            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>
