<div class="row">
    <div class="col-sm-12 col-centered">
        <div class="row">
            <div class="col-sm-12">
                Set the optional values for CRS parameters to be applied on current GetCoverage request.
            </div>
        </div>
        <div class="row top5">
            <div class="col-sm-12">
                <input id="wcs-get-coverage-subsetting-crs" type="text" class="form-control"
                       placeholder="URL for subsettingCRS parameter."
                       ng-model="model.wcsGetCoverageSubsettingCRS"/>
                <br/>
                <input id="wcs-get-coverage-output-crs" type="text" class="form-control"
                       placeholder="URL for outputCRS parameter."
                       ng-model="model.wcsGetCoverageOutputCRS"/>
            </div>
        </div>
    </div>
</div>