<div class="row">
    <div class="col-sm-12">
        <div class="row-sm-12 top15">
            <div class="col-sm-12 input-group input-group-lg">
                            <span class="input-group-addon">
                            WCS service endpoint:
                            </span>
                <input id="wcs-server-address" type="text" class="form-control"
                       placeholder="WCS server endpoint"
                       ng-model="wcsServerEndpoint"/>
                            <span class="input-group-btn">
                            <button type="button" id="btnWCSGetServerCapabilities" class="btn btn-info" ng-click="getServerCapabilities()">Get
                                                                                                            Capabilities
                            </button>
                            </span>
            </div>
        </div>
 	
        <div class="row-sm-11 top15">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="isAvailableCoveragesOpen">
                    <uib-accordion-heading>
                        Available coverages <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': isAvailableCoveragesOpen, 'glyphicon-chevron-right': !isAvailableCoveragesOpen}"></i>
                    </uib-accordion-heading>
                    <!-- smart table for pagination http://lorenzofox3.github.io/smart-table-website/ -->
                    <table st-table="coverageSummaries" st-safe-src="capabilities.contents.coverageSummaries"
                           class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="coverageId" colspan="2">Coverage ID</th>
                                <th>Coverage subtype</th>
                                <th ng-show="capabilities.contents.showCoverageLocationsColumn == true">Coverage location</th>
                                <th ng-show="capabilities.contents.showCoverageSizesColumn == true">Coverage size</th>
                                <th>Display footprints</th>
                            </tr>
                            <tr>
                                <th colspan="6"><input st-search="coverageId" class="form-control"
                                                       placeholder="Search coverage by ID ..." type="text"/></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="coverageSummary in coverageSummaries">
                                <td colspan="2"><a ng-click='describeCoverage(coverageSummary.coverageId);'>{{coverageSummary.coverageId}}</a>
                                </td>
                                <td>{{coverageSummary.coverageSubtype}}</td>
                                <td ng-show="capabilities.contents.showCoverageLocationsColumn == true">
                                    <a href="{{coverageSummary.customizedMetadata.petascopeEndPoint}}">{{coverageSummary.customizedMetadata.hostname}}</a>
                                </td>
                                <td ng-show="capabilities.contents.showCoverageSizesColumn == true">
                                    {{coverageSummary.customizedMetadata.coverageSize}}
                                </td>
                                <td><input type="checkbox" ng-model="coverageSummary.displayFootprint" ng-hide="coverageSummary.displayFootprint === null"
                                         ng-change="displayFootprintOnGlobe(coverageSummary.coverageId)"
                                         onmouseout="$(this).tooltip('hide')" onmouseover="$(this).tooltip('show')" data-placement="left" title="Show/Hide this coverage's footprint on globe."/>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" class="text-right">
                                    <div st-pagination="" st-items-by-page="rowPerPageSmartTable" st-page-change="pageChanged(newPage)"></div>
                                    <div class="checkbox" style="font-size: 16px;">
                                        <input type="checkbox" id="wcsDisplayAllFootprintsCheckbox" title="Load all coverages's footprints on globe from all pages." 
                                            ng-model="showAllFootprints" ng-change="displayAllFootprintsOnGlobe(showAllFootprints)"
                                            onmouseout="$(this).tooltip('hide')" onmouseover="$(this).tooltip('show')" data-placement="left">Display all footprints</input>                                            
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </uib-accordion-group>
                
                <!-- WebWorldWind -->
                <uib-accordion-group is-open="isCoveragesExtentsOpen"> 	
                    <uib-accordion-heading>
                        Footprint of geo-referenced coverages
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': isCoveragesExtentsOpen, 
                                    'glyphicon-chevron-right': !isCoveragesExtentsOpen}"></i>
                    </uib-accordion-heading>	                       
                    <div>
                        <!-- Create a canvas for Web WorldWind. -->
                        <canvas id="wcsCanvasGetCapabilities" style="width:100%;height:500px;">
                            Your browser does not support HTML5 Canvas.
                        </canvas>
                    </div>
                </uib-accordion-group>
                

                <uib-accordion-group is-open="isServiceIdentificationOpen">
                    <uib-accordion-heading>
                        Service identification <i class="pull-right glyphicon"
                                                  ng-class="{'glyphicon-chevron-down': isServiceIdentificationOpen, 'glyphicon-chevron-right': !isServiceIdentificationOpen}"></i>
                    </uib-accordion-heading>
                    <!--Title-->
                    <div class="row" ng-show="capabilities.serviceIdentification.title.length">
                        <div class="col-sm-2 display-label">Title:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceIdentification.title[0].value}}</div>
                    </div>

                    <!--Abstract-->
                    <div class="row" ng-show="capabilities.serviceIdentification.abstract.length">
                        <div class="col-sm-2 display-label">Abstract:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceIdentification.abstract[0].value}}
                        </div>
                    </div>

                    <!--Keywords-->
                    <div class="row" ng-show="capabilities.serviceIdentification.keywords.length">
                        <div class="col-sm-2 display-label">Keywords:</div>
                        <div class="col-sm-10 display-value">
                        <span ng-repeat="keyword in capabilities.serviceIdentification.keywords">
                            {{keyword.Keyword[0].Value}}
                        </span>
                        </div>
                    </div>

                    <!--Service type-->
                    <div class="row" ng-show="capabilities.serviceIdentification.serviceType">
                        <div class="col-sm-2 display-label">Service type:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceIdentification.serviceType.code}}
                        </div>
                    </div>

                    <!--Service type version-->
                    <div class="row" ng-show="capabilities.serviceIdentification.serviceTypeVersion.length">
                        <div class="col-sm-2 display-label">Service type version:</div>
                        <div class="col-sm-10 display-value">
                        <span ng-repeat="serviceVersion in capabilities.serviceIdentification.serviceTypeVersion">
                            {{serviceVersion}}
                        </span>
                        </div>
                    </div>

                    <!--Fees-->
                    <div class="row" ng-show="capabilities.serviceIdentification.fees">
                        <div class="col-sm-2 display-label">Fees:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceIdentification.fees}}</div>
                    </div>

                    <div class="row" ng-show="capabilities.serviceIdentification.accessConstraints">
                        <div class="col-sm-2 display-label">Access constraints:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceIdentification.accessConstraints}}
                        </div>
                    </div>

                </uib-accordion-group>

                <uib-accordion-group is-open="isServiceProviderOpen">
                    <uib-accordion-heading>
                        Service provider <i class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down': isServiceProviderOpen, 'glyphicon-chevron-right': !isServiceProviderOpen}"></i>
                    </uib-accordion-heading>
                    <!--Provider name-->
                    <div class="row">
                        <div class="col-sm-2 display-label">Provider name:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceProvider.providerName}}</div>
                    </div>

                    <!--Provider site-->
                    <div class="row">
                        <div class="col-sm-2 display-label">Provider site:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceProvider.providerSite.href}}</div>
                    </div>

                    <!--Individual name-->
                    <div class="row" ng-show="capabilities.serviceProvider.serviceContact.individualName">
                        <div class="col-sm-2 display-label">Contact person:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.serviceContact.individualName}}
                        </div>
                    </div>

                    <!--Position name-->
                    <div class="row" ng-show="capabilities.serviceProvider.serviceContact.positionName">
                        <div class="col-sm-2 display-label">Position name:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.serviceContact.positionName}}
                        </div>
                    </div>

                    <!--Role-->
                    <div class="row" ng-show="capabilities.serviceProvider.serviceContact.role">
                        <div class="col-sm-2 display-label">Role:</div>
                        <div class="col-sm-10 display-value">{{capabilities.serviceProvider.serviceContact.role.code}}
                        </div>
                    </div>

                    <!-- Website:-->
                    <div class="row"
                         ng-show="capabilities.serviceProvider.serviceContact.contactInfo.onlineResource.href">
                        <div class="col-sm-2 display-label"> Website:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.serviceContact.contactInfo.onlineResource.href}}
                        </div>
                    </div>

                    <!-- Phone:-->
                    <div class="row"
                         ng-show="capabilities.serviceProvider.serviceContact.contactInfo.phone.facsimile.length || capabilities.serviceProvider.serviceContact.contactInfo.phone.voice.length">
                        <div class="col-sm-12">
                            <div class="row"
                                 ng-show="capabilities.serviceProvider.serviceContact.contactInfo.phone.voice.length">
                                <div class="col-sm-2 display-label"> Voice:</div>
                                <div class="col-sm-10 display-value">
                        <span ng-repeat="voiceNumber in capabilities.serviceProvider.serviceContact.contactInfo.phone.voice">
                            {{voiceNumber}} &nbsp;
                        </span>
                                </div>
                            </div>

                            <div class="row"
                                 ng-show="capabilities.serviceProvider.serviceContact.contactInfo.phone.facsimile.length">
                                <div class="col-sm-2 display-label"> Facsimile:</div>
                                <div class="col-sm-10 display-value">
                        <span ng-repeat="faxNumber in capabilities.serviceProvider.serviceContact.contactInfo.phone.facsimile">
                            {{faxNumber}} &nbsp;
                        </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--Address-->
                    <div class="row"
                         ng-show="capabilities.serviceProvider.serviceContact.contactInfo.address">
                        <div class="col-sm-12">

                            <div class="row"
                                 ng-show="capabilities.serviceProvider.serviceContact.contactInfo.address.electronicMailAddress.length">
                                <div class="col-sm-2 display-label"> Electronic mail address:</div>
                                <div class="col-sm-10 display-value">
                                    <a ng-repeat="email in capabilities.serviceProvider.serviceContact.contactInfo.address.electronicMailAddress"
                                       target="_top"
                                       href="mailto:{{email}}">
                                        <span>{{email}} </span>
                                    </a>

                                </div>
                            </div>

                            <div class="row"
                                 ng-show="capabilities.serviceProvider.serviceContact.contactInfo.address.deliveryPoint.length">
                                <div class="col-sm-2 display-label"> Delivery point:</div>
                                <div class="col-sm-10 display-value">
                        <span ng-repeat="deliveryPoint in capabilities.serviceProvider.serviceContact.contactInfo.address.deliveryPoint">
                            {{deliveryPoint}} &nbsp;
                        </span>
                                </div>
                            </div>

                            <div class="row"
                                 ng-show="capabilities.serviceProvider.serviceContact.contactInfo.address.city">
                                <div class="col-sm-2 display-label"> City:</div>
                                <div class="col-sm-10 display-value">
                                    {{capabilities.serviceProvider.serviceContact.contactInfo.address.city}}
                                </div>
                            </div>

                            <div class="row"
                                 ng-show="capabilities.serviceProvider.serviceContact.contactInfo.address.administrativeArea">
                                <div class="col-sm-2 display-label"> Administrative area:</div>
                                <div class="col-sm-10 display-value">
                                    {{capabilities.serviceProvider.serviceContact.contactInfo.address.administrativeArea}}
                                </div>
                            </div>

                            <div class="row"
                                 ng-show="capabilities.serviceProvider.serviceContact.contactInfo.address.postalCode">
                                <div class="col-sm-2 display-label"> Postal code:</div>
                                <div class="col-sm-10 display-value">
                                    {{capabilities.serviceProvider.serviceContact.contactInfo.address.postalCode}}
                                </div>
                            </div>


                            <div class="row"
                                 ng-show="capabilities.serviceProvider.serviceContact.contactInfo.address.country">
                                <div class="col-sm-2 display-label"> Country:</div>
                                <div class="col-sm-10 display-value">
                                    {{capabilities.serviceProvider.serviceContact.contactInfo.address.country}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Hours of service:-->
                    <div class="row" ng-show="capabilities.serviceProvider.serviceContact.contactInfo.hoursOfService">
                        <div class="col-sm-2 display-label"> Hours of service:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.serviceContact.contactInfo.hoursOfService}}
                        </div>
                    </div>

                    <!-- Contact instructions:-->
                    <div class="row"
                         ng-show="capabilities.serviceProvider.serviceContact.contactInfo.contactInstructions">
                        <div class="col-sm-2 display-label"> Contact instructions:</div>
                        <div class="col-sm-10 display-value">
                            {{capabilities.serviceProvider.serviceContact.contactInfo.contactInstructions}}
                        </div>
                    </div>


                </uib-accordion-group>
                
                <uib-accordion-group is-open="isCapabilitiesDocumentOpen"  ng-show="capabilitiesDocument.value">
                    <uib-accordion-heading>
                        GML server Capabilities document <i class="pull-right glyphicon"
                                                            ng-class="{'glyphicon-chevron-down': isCapabilitiesDocumentOpen, 'glyphicon-chevron-right': !isCapabilitiesDocumentOpen}"></i>
                    </uib-accordion-heading>

                    <ras-pretty-print data="{value:capabilitiesDocument.value, type:'xml'}">

                    </ras-pretty-print>
                </uib-accordion-group>

            </uib-accordion>
        </div>
    </div>

</div>
