<div class="row">
    <div class="col-sm-12 col-centered">
        <div class="row top7">
            <table style="margin-left: 10px">
                <tbody>
                    <tr ng-repeat="item in model.RangeSubset.RangeItem">
                        <td ng-if="!model.IsInterval[$index]" class="range-select">
                            <select ng-model="item.RangeComponent"
                                    ng-options="range for range in model.AvailableRanges">
                            </select>
                        </td>
                        <td ng-if="!model.IsInterval[$index]" class="range-select">

                        </td>
                        <td ng-if="model.IsInterval[$index]" class="range-select">
                            <select ng-model="item.StartComponent.RangeComponent"
                                    ng-options="range for range in model.AvailableRanges">
                            </select>
                        </td>
                        <td ng-if="model.IsInterval[$index]" class="range-select">
                            <select ng-model="item.EndComponent.RangeComponent"
                                    ng-options="range for range in model.AvailableRanges">
                            </select>
                        </td>
                        <td class="range-select">
                            <a ng-click="model.deleteRangeComponent($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row top7 btn-toolbar">
            <button class="btn btn-default btn-sm" ng-click="model.addRangeComponent()">
                Add range component
            </button>
            <button class="btn btn-default btn-sm" ng-click="model.addRangeComponentInterval()">
                Add range component interval
            </button>
        </div>
    </div>
</div>
