<?xml version="1.0" encoding="UTF-8"?>
<wcs:Capabilities xsi:schemaLocation="http://www.opengis.net/wcs/2.0 http://schemas.opengis.net/wcs/2.0/wcsAll.xsd" version="2.0.1" xmlns:wcs="http://www.opengis.net/wcs/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wcscrs="http://www.opengis.net/wcs/service-extension/crs/1.0" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink">
%ServiceIdentificationElement%
%ServiceProviderElement%
%OperationsMetadataElement%
%ServiceMetadataElement%
%ContentsElement%
</wcs:Capabilities>
